<?xml version="1.0" encoding="utf-8"?>
<framework-data>
  <options>
    <option id="com.atmel.avr32.sf.uc3a3.drivers.intc" value="true" />
    <option id="com.atmel.avr32.sf.uc3a3.drivers.pm" value="true" />
    <option id="com.atmel.avr32.sf.uc3a3.drivers.gpio" value="true" />
    <option id="com.atmel.avr32.sf.uc3a3.drivers.tc" value="true" />
    <option id="com.atmel.avr32.sf.uc3a3.drivers.usart" value="true" />
    <option id="com.atmel.avr32.sf.uc3a3.common.boards" value="true" />
    <option id="com.atmel.avr32.sf.uc3a3.common.utils.stdio.stdio_usb" value="true" />
  </options>
  <files>
    <file path="src/asf/avr32/utils/preprocessor/stringz.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/utils/preprocessor/stringz.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/PollQ.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/PollQ.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/BlockQ.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/BlockQ.c" changed="False" />
    <file path="src/asf/avr32/boards/evk1104/led.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/boards/evk1104/led.h" changed="False" />
    <file path="src/asf/avr32/boards/evk1104/led.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/boards/evk1104/led.c" changed="False" />
    <file path="src/asf/avr32/drivers/pm/power_clocks_lib.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/pm/power_clocks_lib.h" changed="False" />
    <file path="src/asf/avr32/drivers/pm/power_clocks_lib.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/pm/power_clocks_lib.c" changed="False" />
    <file path="src/ParTest.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/avr32_uc3_example/partest/ParTest.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/projdefs.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/include/projdefs.h" changed="False" />
    <file path="src/asf/avr32/drivers/pm/sleep.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/pm/sleep.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/AltPollQ.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/AltPollQ.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/gcc/avr32_uc3/port.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/portable/gcc/avr32_uc3/port.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/timers.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/timers.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/memmang/heap_3.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/portable/memmang/heap_3.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/comtest.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/comtest.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/countsem.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/countsem.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/mpu_wrappers.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/include/mpu_wrappers.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/crhook.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/crhook.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/IntQueue.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/IntQueue.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/comtest2.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/comtest2.h" changed="False" />
    <file path="src/asf/avr32/utils/linker_scripts/at32uc3a3/256/gcc/link_uc3a3256.lds" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/utils/linker_scripts/at32uc3a3/256/gcc/link_uc3a3256.lds" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/crflash.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/crflash.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/crhook.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/crhook.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/AltBlckQ.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/AltBlckQ.h" changed="False" />
    <file path="src/asf/avr32/drivers/gpio/gpio.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/gpio/gpio.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/death.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/death.h" changed="False" />
    <file path="src/asf/avr32/drivers/intc/intc.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/intc/intc.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/croutine.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/include/croutine.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/flop.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/flop.c" changed="False" />
    <file path="src/asf/avr32/drivers/pm/pm.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/pm/pm.h" changed="False" />
    <file path="src/asf/avr32/utils/status_codes.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/utils/status_codes.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/QPeek.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/QPeek.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/dynamic.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/dynamic.h" changed="False" />
    <file path="src/asf/avr32/drivers/gpio/gpio.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/gpio/gpio.c" changed="False" />
    <file path="src/asf/avr32/drivers/intc/intc.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/intc/intc.h" changed="False" />
    <file path="src/asf/avr32/drivers/pm/pm.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/pm/pm.c" changed="False" />
    <file path="src/asf/avr32/drivers/flashc/flashc.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/flashc/flashc.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/list.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/list.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/gcc/avr32_uc3/portmacro.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/portable/gcc/avr32_uc3/portmacro.h" changed="False" />
    <file path="src/asf/avr32/drivers/flashc/flashc.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/flashc/flashc.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/AltPollQ.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/AltPollQ.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/semtest.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/semtest.c" changed="False" />
    <file path="src/asf.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="./thirdparty/freertos/demo/avr32_uc3_example/at32uc3a3256_evk1104/as5_32/asf.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/recmutex.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/recmutex.h" changed="False" />
    <file path="src/config/conf_example.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/avr32_uc3_example/at32uc3a3256_evk1104/conf_example.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/death.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/death.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/integer.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/integer.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/semtest.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/semtest.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/semphr.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/include/semphr.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/gcc/avr32_uc3/write.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/portable/gcc/avr32_uc3/write.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/serial.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/serial.h" changed="False" />
    <file path="src/asf/avr32/boards/evk1104/evk1104.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/boards/evk1104/evk1104.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/flop.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/flop.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/PollQ.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/PollQ.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/timers.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/include/timers.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/GenQTest.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/GenQTest.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/print.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/print.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/gcc/avr32_uc3/exception.S" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/portable/gcc/avr32_uc3/exception.S" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/fileIO.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/fileIO.h" changed="False" />
    <file path="src/main.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/avr32_uc3_example/main.c" changed="False" />
    <file path="src/asf/avr32/utils/parts.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/utils/parts.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/AltBlock.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/AltBlock.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/dynamic.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/dynamic.c" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/preprocessor.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/utils/preprocessor/preprocessor.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/task.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/include/task.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/queue.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/include/queue.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/croutine.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/croutine.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/partest.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/partest.h" changed="False" />
    <file path="src/asf/common/utils/interrupt.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="common/utils/interrupt.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/blocktim.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/blocktim.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/queue.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/queue.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/integer.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/integer.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/GenQTest.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/GenQTest.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/portable/gcc/avr32_uc3/read.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/portable/gcc/avr32_uc3/read.c" changed="False" />
    <file path="src/asf/avr32/drivers/usart/usart.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/usart/usart.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/crflash.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/crflash.h" changed="False" />
    <file path="src/asf/avr32/drivers/usart/usart.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/usart/usart.c" changed="False" />
    <file path="src/serial.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/avr32_uc3_example/serial/serial.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/list.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/include/list.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/flash.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/flash.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/countsem.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/countsem.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/AltQTest.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/AltQTest.c" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/mrepeat.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/utils/preprocessor/mrepeat.h" changed="False" />
    <file path="src/asf/avr32/drivers/tc/tc.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/tc/tc.c" changed="False" />
    <file path="src/asf/avr32/utils/startup/trampoline_uc3.S" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/utils/startup/trampoline_uc3.S" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/BlockQ.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/BlockQ.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/blocktim.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/blocktim.h" changed="False" />
    <file path="src/asf/avr32/drivers/tc/tc.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/tc/tc.h" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/tpaste.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/utils/preprocessor/tpaste.h" changed="False" />
    <file path="src/asf/common/utils/interrupt/interrupt_avr32.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="common/utils/interrupt/interrupt_avr32.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/comtest.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/comtest.c" changed="False" />
    <file path="src/asf/avr32/drivers/pm/pm_conf_clocks.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/drivers/pm/pm_conf_clocks.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/AltBlock.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/AltBlock.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/QPeek.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/QPeek.c" changed="False" />
    <file path="src/config/FreeRTOSConfig.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/avr32_uc3_example/FreeRTOSConfig.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/AltQTest.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/AltQTest.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/flash.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/flash.h" changed="False" />
    <file path="src/asf/avr32/utils/compiler.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/utils/compiler.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/StackMacros.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/include/StackMacros.h" changed="False" />
    <file path="src/asf/common/boards/board.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="common/boards/board.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/FreeRTOS.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/include/FreeRTOS.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/AltBlckQ.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/AltBlckQ.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/include/portable.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/include/portable.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/include/mevents.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/include/mevents.h" changed="False" />
    <file path="src/asf/avr32/utils/startup/trampoline_uc3.h" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="avr32/utils/startup/trampoline_uc3.h" changed="False" />
    <file path="src/asf/thirdparty/freertos/demo/common/minimal/recmutex.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/demo/common/minimal/recmutex.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/source/tasks.c" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/source/tasks.c" changed="False" />
    <file path="src/asf/thirdparty/freertos/ATMEL-disclaimer.txt" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/ATMEL-disclaimer.txt" changed="False" />
    <file path="src/asf/thirdparty/freertos/readme.txt" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/readme.txt" changed="False" />
    <file path="src/asf/thirdparty/freertos/license/license.txt" framework="com.atmel.avr32.sf.uc3a3" version="2.5.1-17860" source="thirdparty/freertos/license/license.txt" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/usbb_device.c" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="avr32/drivers/usbb/usbb_device.c" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/usbb_otg.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="avr32/drivers/usbb/usbb_otg.h" changed="False" />
    <file path="src/asf/avr32/drivers/usbb/usbb_device.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="avr32/drivers/usbb/usbb_device.h" changed="False" />
    <file path="src/asf/avr32/utils/startup/startup_uc3.S" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="avr32/utils/startup/startup_uc3.S" changed="False" />
    <file path="src/asf/avr32/drivers/intc/exception.S" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="avr32/drivers/intc/exception.S" changed="False" />
    <file path="src/asf/common/utils/stdio/read.c" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/utils/stdio/read.c" changed="False" />
    <file path="src/asf/common/utils/stdio/write.c" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/utils/stdio/write.c" changed="False" />
    <file path="src/asf/common/utils/stdio/stdio_usb/stdio_usb.c" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/utils/stdio/stdio_usb/stdio_usb.c" changed="False" />
    <file path="src/asf/common/utils/stdio/stdio_usb/stdio_usb.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/utils/stdio/stdio_usb/stdio_usb.h" changed="False" />
    <file path="src/asf/common/services/sleepmgr/uc3/sleepmgr.c" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/sleepmgr/uc3/sleepmgr.c" changed="False" />
    <file path="src/asf/common/services/sleepmgr/sleepmgr.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/sleepmgr/sleepmgr.h" changed="False" />
    <file path="src/asf/common/services/sleepmgr/uc3/sleepmgr.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/sleepmgr/uc3/sleepmgr.h" changed="False" />
    <file path="src/config/conf_sleepmgr.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/sleepmgr/uc3/module_config/conf_sleepmgr.h" changed="False" />
    <file path="src/asf/common/services/clock/uc3a3_a4/sysclk.c" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/clock/uc3a3_a4/sysclk.c" changed="False" />
    <file path="src/asf/common/services/clock/genclk.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/clock/genclk.h" changed="False" />
    <file path="src/asf/common/services/clock/osc.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/clock/osc.h" changed="False" />
    <file path="src/asf/common/services/clock/sysclk.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/clock/sysclk.h" changed="False" />
    <file path="src/asf/common/services/clock/uc3a3_a4/pll.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/clock/uc3a3_a4/pll.h" changed="False" />
    <file path="src/asf/common/services/clock/uc3a3_a4/genclk.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/clock/uc3a3_a4/genclk.h" changed="False" />
    <file path="src/asf/common/services/clock/uc3a3_a4/sysclk.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/clock/uc3a3_a4/sysclk.h" changed="False" />
    <file path="src/asf/common/services/clock/uc3a3_a4/osc.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/clock/uc3a3_a4/osc.h" changed="False" />
    <file path="src/asf/common/services/clock/pll.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/clock/pll.h" changed="False" />
    <file path="src/config/conf_clock.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/clock/uc3a3_a4/module_config/conf_clock.h" changed="False" />
    <file path="src/asf/common/services/usb/class/cdc/device/udi_cdc_desc.c" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/class/cdc/device/udi_cdc_desc.c" changed="False" />
    <file path="src/asf/common/services/usb/class/cdc/device/udi_cdc.c" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/class/cdc/device/udi_cdc.c" changed="False" />
    <file path="src/asf/common/services/usb/class/cdc/device/udi_cdc_conf.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/class/cdc/device/udi_cdc_conf.h" changed="False" />
    <file path="src/asf/common/services/usb/class/cdc/device/udi_cdc.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/class/cdc/device/udi_cdc.h" changed="False" />
    <file path="src/config/conf_usb.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/class/cdc/device/module_config/conf_usb.h" changed="False" />
    <file path="src/asf/common/services/usb/class/cdc/usb_protocol_cdc.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/class/cdc/usb_protocol_cdc.h" changed="False" />
    <file path="src/asf/common/services/usb/udc/udc.c" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/udc/udc.c" changed="False" />
    <file path="src/asf/common/services/usb/usb_atmel.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/usb_atmel.h" changed="False" />
    <file path="src/asf/common/services/usb/udc/udc_desc.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/udc/udc_desc.h" changed="False" />
    <file path="src/asf/common/services/usb/udc/udd.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/udc/udd.h" changed="False" />
    <file path="src/asf/common/services/usb/udc/udc.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/udc/udc.h" changed="False" />
    <file path="src/asf/common/services/usb/usb_protocol.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/usb_protocol.h" changed="False" />
    <file path="src/asf/common/services/usb/udc/udi.h" framework="com.atmel.avr32.sf.uc3a3" version="2.2.2" source="common/services/usb/udc/udi.h" changed="False" />
  </files>
  <documentation help="http://asf.atmel.com/docs/2.5.1/thirdparty/freertos/demo/avr32_uc3_example/at32uc3a3256_evk1104/doxygen/html/" />
</framework-data>